@import 'reset';

// $earthBlue: #253B77;
// $red: #752730;
// $earthGreen: lighten(#254D32, 10%);
$ivory: #FFFFFA;
$earthBlue: lighten(#2ba5f7, 30%);
$earthGreen: lighten(#98d04f, 20%);
$blueGrey: #EDEFF2;
$earth: #C6B38E;

button, button:hover, button:focus {
  outline: none;
}

// posts & trips "card" class
.card {
  margin: 30px 10px;
  background: lighten($earthGreen, 15%);
  padding: 20px;
  border-radius: 10px;
  border: solid 1px lighten(black, 80%);
  .cardBody {
    font-size: 80%;
    max-width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0;
  }
  > h3 {
    font-family: 'Quicksand';
    text-transform: uppercase;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 700;
    span {
      color: darken($earth, 40%) !important;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      margin-right: 1em;
    }

  }

  .cardFooter {
    font-size: 70%;
    overflow: auto;
    font-family: 'Quicksand';
    text-transform: uppercase;
    font-weight: 700;
    button {
      font-family: inherit;
      text-transform: inherit;
      border-radius: 10px;
      border: 1px solid lighten(black, 80%);
      height: 4em;
      width: 10em;
      color: darken($earth, 40%) !important;
      &:nth-child(1) {
        background: $earthBlue;
      }
      &:nth-child(2) {
        background: lighten(red, 40%);
      }
    }
    :nth-child(1) {
      float: left;
      line-height: 2em;
      img {
        height: 2em;
        width: 2em;
        border-radius: 100px;
        margin-right: 10px;
      }
    }
    :nth-child(2) {
      float: right;
      line-height: 2em;
    }
  }
}

body {
  letter-spacing: 1px;
  font-family: 'BioRhyme', serif;
  background: $ivory;
  color: darken($earth, 40%) !important;
}
main {
  height: 100vh;
}

a {
  text-decoration: none;
  color: darken($earthBlue, 50%);
  &:hover {
    text-decoration: none;
  }
}

img {
  height: 100%;
}

form {
  text-align: center;
  background-color: lighten($earthGreen, 5%);
  color: darken($earthBlue, 50%);
  h3 {
    color: darken($earth, 40%) !important;
    font-weight: 700;
  }
  button {
    border-radius: 10px;
    padding: 10px;
    border: solid 1px #fff;
    background: #fff;
    &[type="button"] {
      i {
        color: $earth;
      }
      &:hover {
        background: $earth;
        i {
          color: $ivory;
        }
      }
    }
    &:focus {
      outline: none !important;
    }
    &:hover {
      border: solid 1px darken($earthBlue, 50%);
      background-color: darken($earthBlue, 50%);
      color: white;
    }
  }
}

nav {
  font-family: 'BioRhyme', serif;
  margin: 0;
  margin-bottom: 0px;
  background-color: #fffff0 !important;
  div.navbar-header {
    transform-style: preserve-3d;
    .earthIcon {
      height: 25px;
      width: 25px;
      &.spin {
        animation: spin 0.5s;
      }
    }
  }
  ul {
    li {
      a {
        color: darken($earth, 40%) !important;

        &.active {
          font-weight: 800 !important;
        }
      }
    }
  }
  &.navbar.navbar-default {
    margin-bottom: 0px;
  }

  button {
    &.navbar-toggle {
      &:nth-of-type(1) {
        color: darken($earth, 40%) !important;
        font-size: 20px;
        float: left;
        margin: 10px;
        border: none;
        img {
          height: 15px;
          width: 15px;
          vertical-align: bottom;
        }
        &:hover, &:focus {
          background: none;
          cursor: default;
        }
      }
      &:nth-of-type(2) {
        background: $ivory !important;
        border-radius: 100%;
      }
    }
  }
}
////////////////// info window on map styling

.popupWindow {
  font-family: 'BioRhyme';
  border-radius: 50%;
  background: red;
}

/*style the box*/
 .gm-style .gm-style-iw {
    background-color: $earth !important;
    // border-radius: 50%;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    min-height: 120px !important;
    padding-top: 10px;
    display: block !important;
    text-align: center;
    padding: 10px;
 }

 /*style the p tag*/
 .gm-style .gm-style-iw #google-popup p{
    padding: 10px;
 }


/*style the arrow*/
.gm-style div div div div div div div div {
    background-color: $earth !important;
    padding: 0;
    margin: 0;
    padding: 0;
    top: 0;
    color: #fff;
    font-size: 16px;
}

/*style the link*/
.gm-style div div div div div div div div a {
    color: #f1f1f1;
    font-weight: bold;
}

///////////////////////////////////////////////

h1 {
  margin-top: 0px;
}

.horizontal-collapse {
  height: 70px;
}

.dailyImage {
  height: 100vh;
}

.navbar-collapse.in {
  overflow-y: hidden;
}

.deleteButton {
  border-radius: 100%;
  font-size: 10px;
  padding: 10px;
  text-align: center;
}

.postContent {
  padding: 0 20px 10px 20px;
  text-align: center;
  > * {
    margin-bottom: 30px;
  }
  > h3 {
    font-weight: 700;
    font-size: 20px;
    span.votingPanel {
      color: $earth;
    }
  }
  > p {
    font-size: 13px;
  }
}

.carousel {
  height: 300px;
  text-align: center;
  margin-bottom: 30px;
  a.right.carousel-control, a.left.carousel-control {
    background-image: none;
  }
  button {
    background: none;
    border: 1px solid $earth;
    i {
      color: $earth;
    }
    &:hover {
      background: lighten(red, 40%);
      border: 1px solid lighten(red, 40%);
      i {
        color: $ivory;
      }
    }
  }
  div {
    div {
      display: inline-block;
      position: relative;
      background: inherit;
      button {
        position: absolute;
        top: 10%;
        color: $ivory;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .carouselImage {
        height: 300px;
        width: 100%;
        border-radius: 10px;
        &:after {
          content: "";
          display: block;
          padding-top: 100%;
        }
      }
    }
  }
}

li {
  list-style: none;
}

.tripsIndex {
  .mapWrapper {
    width: 100%;
    border-radius: 50%;
    overflow: hidden !important;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    &:after {
      content: "";
      display: block;
      padding-top: 100%;
    }
    #map {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

main {
  height: 100vh;
  background-position: center;
  .container {
    margin-top: 40px;
  }
  &.world {
    background-image: url('../images/world.jpg');
  }
  &.find {
      background-image: url('../images/find.jpg');
  }
  &.search {
      background-image: url('../images/search.jpg');
  }
  &.map {
      background-image: url('../images/map.jpg');
  }
  .usersShow {
    .profileHeader {
      margin-bottom: 20px;
      h3 {
        color: darken($earth, 40%);
        font-size: 25px;
        display: inline-block;
      }
      button {
        padding: 10px;
        border: 1px solid darken($earth, 10%);
        background: none;
        border-radius: 10px;
        &:hover {
          i {
            opacity: 0.5;
          }
        }
        &:first-of-type {
          margin-left: 20px;
        }
      }
    }
    .profileImage {
      height: 300px;
      max-width: 300px;
      margin: 0 auto;
      img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }
    }
    ul {
      li {
        list-style: none;
        h4 {
          font-size: 20px;
          font-weight: bold;
          padding: 20px;
        }
        p {
          padding: 20px;
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(18deg);
  }
  10% {
    transform: rotate(36deg);
  }
  15% {
    transform: rotate(54deg);
  }
  20% {
    transform: rotate(72deg);
  }
  25% {
    transform: rotate(90deg);
  }
  30% {
    transform: rotate(108deg);
  }
  35% {
    transform: rotate(126deg);
  }
  40% {
    transform: rotate(144deg);
  }
  45% {
    transform: rotate(162deg);
  }
  50% {
    transform: rotate(180deg);
  }
  55% {
    transform: rotate(198deg);
  }
  60% {
    transform: rotate(216deg);
  }
  65% {
    transform: rotate(234deg);
  }
  70% {
    transform: rotate(252deg);
  }
  75% {
    transform: rotate(270deg);
  }
  80% {
    transform: rotate(288deg);
  }
  85% {
    transform: rotate(306deg);
  }
  90% {
    transform: rotate(324deg);
  }
  95% {
    transform: rotate(342deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.authForm {
  width: 90%;
  margin: 30px auto;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Quicksand';
  padding-bottom: 20px;
  label {
    font-weight: 700;
    font-size: 90%;
    padding: 30px 0 5px 0;
  }
  input {
    text-align: center;
    padding: 0 10px;
    font-family: 'BioRhyme';
    margin-bottom: 10px;
  }
  textarea {
    font-family: 'BioRhyme';
    font-size: 14px;
    resize: none;
  }

  h3 {
    color: $earthBlue;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .authButton {
    margin-top: 25px;
    text-align: center;
    font-family: 'BioRhyme';
  }
  p {

  }
}

.ng-message-error {
  // color: $red;
  padding: 5px;
  text-align: center;
  margin: 5px 0;
}

.tripDetails {
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
  > * {
    display: inline-block;
    margin-right: 10px;
  }
  > h3 {
    font-size: 22px;
    font-weight: 700;
  }
  > button {
    background: none;
    border-radius: 10px;
    padding: 5px;
    border: solid 1px darken($earth, 40%);
    &:hover {
      background: darken($earth, 40%);
      color: $ivory;
    }
  }
}

.stopsList {
  max-width: 90%;
  min-height: 100%;
  text-align: center;
  border-top: 2px dashed black;
  margin: 20px auto;
  padding: 10px;
  h3 {
    color: darken($earth, 40%);
    font-family: 'Quicksand';
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
  }
  a {
    color: darken($earth, 40%);
    span {
      font-weight: 700;
    }
  }
  button {
    background: none;
    border: 1px solid $earth;
    &:hover {
      background: lighten(red, 40%);
    }
  }
  .stops {
    margin-bottom: 10px;
    margin: 30px 10px;
    background: lighten($earthBlue, 10%);
    padding: 20px;
    border-radius: 10px;
    border: solid 1px lighten(black, 80%);
  }
}


.flightsForm {
  @extend .authForm;
  border-top: none;
  margin: 0 auto;
  h3 {
    color: $earthGreen;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
  }
}

.flightResultTitle{
  text-align: center;
  font-size: 24px;
  margin: 10px 0;
  font-weight: bold;
}

.flightColumnHeaders{
  text-align: center;
  margin-bottom: 15px;
  h5 {
    font-weight: bold;
    font-size: 16px;
  }
}

.results {
  margin-top: 5px;
  text-align: center;
  height: 30px;
}
.biggerBottom{
  margin-bottom: 30px;
}


.stopHeader {
  margin: 10px 0;
  padding-bottom: 10px;
  text-align: center;
  h1 {
    span {
      font-size: 24px;
      font-weight: bold;
    }
  }
}

.rating{
  padding: 10px;
  display: inline-block;
}

.postDiv {
  margin-bottom: 100px;
  text-align: center;
  h2 {
    font-size: 22px;
    padding-bottom: 5px;
  }
  p {
    margin-bottom: 10px;
  }
  .votingPanel, .deletePanel {
    display: inline-block;
    margin-right: 40px;
  }
  button {
    border-radius: 10px;
    background: none;
    border: 1px solid darken($earth, 30%);
    i {
      color: darken($earth, 30%);
    }

    &:hover {
      background: darken($earth, 30%);
      i {
        color: $ivory;
      }
    }
  }
}

.comments {
  min-height: 200px;
  h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  > div {
    text-align: center;
    padding: 0 10px;
    margin: 10px;
    div {
      margin: 5px;
    }
    a {
      font-family: 'Quicksand';
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      color: darken($earthBlue, 50%);
      margin-right: 10px;
    }
    > span {
      color: $earthGreen;
    }
    button {
      height: 2em;
      width: 2em;
      border-radius: 10px;
      border: 1px solid $earth;
      background: none;
      margin-right: 10px;
      i {
        color: $earth;
      }
      &:hover {
        background: lighten(red, 40%);
        border: 1px solid lighten(red, 40%);
        i {
          color: $ivory;
        }
      }
    }
  }
}

@media only screen and (min-width:600px) {
  .mapWrapper {
    max-width: 550px;
    text-align: center;
    margin-right: 0;
  }
}
